{% comment %} Add a calendly popup {% endcomment %}
{% assign calendly = null %}
{% assign author_data = site.data.authors[page.author] %}

{%- if page.calendly_username -%}
{%- unless page.calendly_username == "none" -%}
{% assign calendly = page.calendly_username %}
{%- endunless -%}
{%- elsif author_data.calendly_username -%}
{%- unless author_data.calendly_username == "none" -%}
{% assign calendly = author_data.calendly_username %}
{%- endunless -%}
{%- elsif site.calendly_username -%}
{% assign calendly = site.calendly_username %}
{% endif %}

{%- if calendly -%}
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
<script type="text/javascript">Calendly.initBadgeWidget({ url: 'https://calendly.com/{{ calendly | escape }}', text: 'Schedule time with me', color: '#00a2ff', textColor: '#ffffff', branding: true });</script>
<!-- Calendly badge widget end -->
<noscript><a href="https://calendly.com/{{ calendly | escape }}">Schedule time with me (requires Javascript)</a></noscript>
{%- endif -%}
